Repository BornaSepic/snoweffects-lp, changes with the owners that CODEOWNERS names for each.
All owners: @the-vaan-group/engineering, @the-vaan-group/devops, @the-vaan-group/engineering-leads

Add footer
  web/src/components/blocks/footer/index.tsx
  web/src/components/blocks/footer/style.module.scss
  web/src/components/blocks/footer/style.module.scss.d.ts
  web/src/components/blocks/header/style.module.scss.d.ts
  web/src/components/blocks/hero/index.tsx
  web/src/components/elements/main/index.tsx
  web/src/components/icons/footer-logo.tsx
  web/src/core/styles/styleguide/_color.scss
  web/src/core/styles/styleguide/_font.scss
  web/src/core/styles/styleguide/_spacing.scss
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/engineering-leads, @the-vaan-group/devops

Add footer card component
  web/public/images/footer-card-snow.png
  web/src/components/blocks/footer-card/index.tsx
  web/src/components/blocks/footer-card/style.module.scss
  web/src/components/blocks/footer-card/style.module.scss.d.ts
  web/src/components/blocks/header/index.tsx
  web/src/components/blocks/hero/index.tsx
  web/src/components/elements/cta/index.tsx
  web/src/components/elements/cta/style.module.scss
  web/src/components/elements/cta/style.module.scss.d.ts
  web/src/core/styles/styleguide/_spacing.scss
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/engineering-leads, @the-vaan-group/devops

Add logo carousel section
  web/public/images/aloha-logo.png
  web/public/images/black-yak-logo.png
  web/public/images/broadmoor-logo.png
  web/public/images/lgu-logo.png
  web/public/images/merrell-logo.png
  web/public/images/ny-logo.png
  web/src/components/blocks/footer-card/style.module.scss
  web/src/components/blocks/logo-carousel/index.tsx
  web/src/components/blocks/logo-carousel/style.module.scss
  web/src/components/blocks/logo-carousel/style.module.scss.d.ts
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/devops

Add content cards
  web/public/images/a-bag-of-marbles-film.png
  web/public/images/nyc-fashion-show.png
  web/public/images/snow-by-the-poolside.png
  web/public/images/snow-kissed-entrance.jpg
  web/public/images/veuveclicquot-event.png
  web/public/images/winter-wonderland-garden.jpg
  web/src/components/blocks/content-cards/index.tsx
  web/src/components/blocks/content-cards/style.module.scss
  web/src/components/blocks/content-cards/style.module.scss.d.ts
  web/src/components/blocks/logo-carousel/index.tsx
  web/src/components/blocks/logo-carousel/style.module.scss
  web/src/components/blocks/logo-carousel/style.module.scss.d.ts
  web/src/components/elements/cta/style.module.scss
  web/src/components/elements/cta/style.module.scss.d.ts
  web/src/components/elements/main/index.tsx
  web/src/components/elements/main/style.module.scss
  web/src/components/elements/main/style.module.scss.d.ts
  web/src/components/icons/snowflake.tsx
  web/src/core/styles/styleguide/_spacing.scss
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/engineering-leads, @the-vaan-group/devops

Add faq section + QA
  web/src/components/blocks/content-cards/style.module.scss
  web/src/components/blocks/faq/components/questions/index.tsx
  web/src/components/blocks/faq/index.tsx
  web/src/components/blocks/faq/style.module.scss
  web/src/components/blocks/faq/style.module.scss.d.ts
  web/src/components/blocks/footer-card/style.module.scss
  web/src/components/blocks/footer/style.module.scss
  web/src/components/blocks/logo-carousel/style.module.scss
  web/src/components/icons/minus.tsx
  web/src/components/icons/plus.tsx
  web/src/core/styles/main.scss
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/engineering-leads, @the-vaan-group/devops

Add hero section
  web/public/images/hero-desktop.jpg
  web/public/images/hero-mobile.png
  web/src/components/blocks/faq/components/questions/index.tsx
  web/src/components/blocks/hero/index.tsx
  web/src/components/blocks/hero/style.module.scss
  web/src/components/blocks/hero/style.module.scss.d.ts
  web/src/components/elements/cta/index.tsx
  web/src/components/elements/cta/style.module.scss
  web/src/components/icons/header-logo.tsx
  web/src/components/icons/phone.tsx
  web/src/core/styles/main.scss
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/engineering-leads, @the-vaan-group/devops

Add featured videos + reviews
  web/src/components/blocks/featured-video/index.tsx
  web/src/components/blocks/featured-video/style.module.scss
  web/src/components/blocks/featured-video/style.module.scss.d.ts
  web/src/components/blocks/featured-video/video/index.tsx
  web/src/components/blocks/hero/style.module.scss
  web/src/components/blocks/reviews/index.tsx
  web/src/components/blocks/reviews/style.module.scss
  web/src/components/blocks/reviews/style.module.scss.d.ts
  web/src/components/elements/video-player/README.md
  web/src/components/elements/video-player/index.tsx
  web/src/components/icons/arrow-left.tsx
  web/src/components/icons/arrow-right.tsx
  web/src/components/icons/pause.tsx
  web/src/components/icons/play.tsx
  web/src/components/icons/snowflake.tsx
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/devops

Add unique selling points section
  web/src/components/blocks/usp/components/questions/index.tsx
  web/src/components/blocks/usp/index.tsx
  web/src/components/blocks/usp/style.module.scss
  web/src/components/blocks/usp/style.module.scss.d.ts
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/devops

QA
  web/src/components/blocks/usp/style.module.scss
Owners: @the-vaan-group/engineering

Add featured products + steps section
  web/public/images/products/full-entryway-tree-base.jpg
  web/public/images/products/indoor-mantle-tabletop.jpg
  web/public/images/products/indoor-mini-scene-kit.jpg
  web/public/images/products/large-outdoor-display.jpg
  web/public/images/products/snow-live-artificial-snow.jpg
  web/public/images/products/snow-scape-artificial-snow.jpg
  web/public/images/products/spray-snow.jpg
  web/public/images/products/underlayment-for-snow-products-5-300.png
  web/public/images/step-1.png
  web/public/images/step-2.png
  web/public/images/step-3.png
  web/public/images/steps-background.png
  web/src/app/layout.tsx
  web/src/components/blocks/featured-products/index.tsx
  web/src/components/blocks/featured-products/style.module.scss
  web/src/components/blocks/featured-products/style.module.scss.d.ts
  web/src/components/blocks/featured-video/index.tsx
  web/src/components/blocks/header/style.module.scss
  web/src/components/blocks/header/style.module.scss.d.ts
  web/src/components/blocks/hero/style.module.scss
  web/src/components/blocks/hero/style.module.scss.d.ts
  web/src/components/blocks/steps/index.tsx
  web/src/components/blocks/steps/style.module.scss
  web/src/components/blocks/steps/style.module.scss.d.ts
  web/src/components/blocks/steps/video/index.tsx
  web/src/components/blocks/usp/components/questions/index.tsx
  web/src/components/elements/cta/style.module.scss
  web/src/components/icons/pause.tsx
  web/src/components/icons/play.tsx
  web/src/components/icons/snowflake.tsx
  web/src/core/styles/_mixins.scss
  web/src/core/styles/_typography.scss
  web/src/core/styles/main.scss
  web/src/core/styles/styleguide/_font.scss
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/engineering-leads, @the-vaan-group/devops

QA
  web/src/components/blocks/content-cards/style.module.scss
  web/src/components/blocks/content-cards/style.module.scss.d.ts
  web/src/components/blocks/faq/style.module.scss
  web/src/components/blocks/faq/style.module.scss.d.ts
  web/src/components/blocks/featured-products/style.module.scss
  web/src/components/blocks/featured-video/style.module.scss
  web/src/components/blocks/featured-video/style.module.scss.d.ts
  web/src/components/blocks/footer-card/style.module.scss
  web/src/components/blocks/footer-card/style.module.scss.d.ts
  web/src/components/blocks/footer/style.module.scss
  web/src/components/blocks/hero/style.module.scss
  web/src/components/blocks/steps/style.module.scss
  web/src/components/blocks/usp/style.module.scss
  web/src/components/elements/cta/style.module.scss
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/devops

Add snow effect
  web/package.json
  web/src/components/blocks/content-cards/index.tsx
  web/src/components/blocks/content-cards/style.module.scss
  web/src/components/blocks/content-cards/style.module.scss.d.ts
  web/src/components/blocks/featured-video/index.tsx
  web/src/components/blocks/hero/index.tsx
  web/src/components/elements/snow-effect/index.tsx
  web/src/components/elements/snow-effect/style.module.scss
  web/src/components/elements/snow-effect/style.module.scss.d.ts
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering-leads, @the-vaan-group/engineering, @the-vaan-group/devops

Remove Dato usage
  web/src/app/page.tsx
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/devops

Add package manager
  package.json
Owners: @the-vaan-group/devops

Remove snow effect fade in
  web/src/components/elements/snow-effect/style.module.scss
Owners: @the-vaan-group/engineering

Fix video import URL
  web/src/components/blocks/steps/style.module.scss
  web/src/components/elements/snow-effect/style.module.scss.d.ts
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/devops

Connect URLs to main website
  web/src/components/blocks/featured-video/style.module.scss
  web/src/components/blocks/footer/index.tsx
  web/src/components/blocks/hero/index.tsx
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/devops

QA + add parallax effect to hero
  web/src/components/blocks/footer-card/index.tsx
  web/src/components/blocks/footer-card/style.module.scss
  web/src/components/blocks/footer-card/style.module.scss.d.ts
  web/src/components/blocks/footer/style.module.scss
  web/src/components/blocks/hero/style.module.scss
  web/src/components/blocks/logo-carousel/style.module.scss
  web/src/components/blocks/usp/index.tsx
  web/src/components/blocks/usp/style.module.scss
  web/src/components/blocks/usp/style.module.scss.d.ts
  web/src/core/styles/main.scss
Owners: @the-vaan-group/engineering, @the-vaan-group/engineering-leads

QA
  web/src/components/blocks/featured-products/index.tsx
  web/src/components/blocks/featured-products/style.module.scss
  web/src/components/blocks/featured-products/style.module.scss.d.ts
  web/src/components/blocks/footer-card/index.tsx
  web/src/components/blocks/hero/style.module.scss
Owners: @the-vaan-group/engineering

QA
  web/public/images/products/snow-effects-craft.png
  web/public/images/products/sparkle-effect.png
  web/public/images/pyeong-chang-2018.png
  web/public/images/the-north-face.png
  web/src/components/blocks/content-cards/index.tsx
  web/src/components/blocks/content-cards/style.module.scss
  web/src/components/blocks/featured-products/index.tsx
  web/src/components/blocks/featured-products/style.module.scss
  web/src/components/blocks/featured-products/style.module.scss.d.ts
  web/src/components/blocks/featured-video/index.tsx
  web/src/components/blocks/featured-video/style.module.scss
  web/src/components/blocks/footer/index.tsx
  web/src/components/blocks/hero/style.module.scss
  web/src/components/blocks/logo-carousel/index.tsx
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/devops

Fix react error
  web/src/components/blocks/featured-products/index.tsx
Owners: @the-vaan-group/engineering

Add favicons + missing faq + QA
  web/public/images/favicon_16_16.ico
  web/src/app/android-chrome-192x192.png
  web/src/app/android-chrome-512x512.png
  web/src/app/apple-touch-icon.png
  web/src/app/favicon-16x16.png
  web/src/app/favicon-32x32.png
  web/src/app/favicon.ico
  web/src/app/icon.png
  web/src/app/site.webmanifest
  web/src/components/blocks/faq/components/answer/index.tsx
  web/src/components/blocks/faq/components/questions/index.tsx
  web/src/components/blocks/faq/index.tsx
  web/src/components/blocks/faq/style.module.scss
  web/src/components/blocks/logo-carousel/desktop/index.tsx
  web/src/components/blocks/logo-carousel/index.tsx
  web/src/components/blocks/logo-carousel/mobile/index.tsx
  web/src/core/styles/_mixins.scss
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/engineering-leads, @the-vaan-group/devops

Add reviews
  web/src/views/home/index.tsx
Owners: @the-vaan-group/devops

QA
  web/src/components/blocks/content-cards/index.tsx
  web/src/components/blocks/featured-video/video/index.tsx
  web/src/components/blocks/hero/index.tsx
  web/src/components/blocks/hero/style.module.scss
  web/src/components/blocks/hero/style.module.scss.d.ts
  web/src/components/blocks/hero/wrapper/index.tsx
  web/src/components/blocks/steps/style.module.scss
  web/src/core/styles/main.scss
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/engineering-leads, @the-vaan-group/devops

Adjust hero parralax
  web/src/components/blocks/hero/wrapper/index.tsx
Owners: @the-vaan-group/engineering

Revert
  web/src/components/blocks/hero/wrapper/index.tsx
Owners: @the-vaan-group/engineering

Add proper section pinning
  web/src/components/blocks/hero/wrapper/index.tsx
Owners: @the-vaan-group/engineering

Fix featured video spacing
  web/src/components/blocks/featured-video/index.tsx
  web/src/components/blocks/featured-video/style.module.scss
  web/src/components/blocks/featured-video/style.module.scss.d.ts
Owners: @the-vaan-group/engineering

Update steps images
  web/public/images/step-1.png
  web/public/images/step-2.png
  web/public/images/step-3.png
  web/public/images/steps/step-1.png
  web/public/images/steps/step-2.png
  web/public/images/steps/step-3.png
  web/src/components/blocks/reviews/index.tsx
  web/src/components/blocks/steps/index.tsx
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/devops

Add product link
  web/src/views/home/index.tsx
Owners: @the-vaan-group/devops

Add GTM containers
  web/package.json
  web/pnpm-lock.yaml
  web/src/app/layout.tsx
Owners: @the-vaan-group/engineering-leads, @the-vaan-group/engineering

Add element id's and classes for easier GTM integration
  web/src/components/blocks/content-cards/index.tsx
  web/src/components/blocks/faq/components/questions/index.tsx
  web/src/components/blocks/featured-products/index.tsx
  web/src/components/blocks/footer-card/index.tsx
  web/src/components/blocks/hero/index.tsx
  web/src/components/blocks/steps/index.tsx
  web/src/components/elements/cta/index.tsx
  web/src/views/home/index.tsx
Owners: @the-vaan-group/engineering, @the-vaan-group/devops

Optimize video load times
  web/src/components/blocks/featured-video/video/index.tsx
  web/src/components/elements/video-player/index.tsx
Owners: @the-vaan-group/engineering

Update image cache size
  web/next.config.mjs
Owners: @the-vaan-group/devops

Optimize featured video component
  web/src/components/blocks/featured-video/style.module.scss
  web/src/components/blocks/featured-video/video/index.tsx
  web/src/components/elements/video-player/index.tsx
Owners: @the-vaan-group/engineering

CODEOWNERS:

* @the-vaan-group/engineering
*.swcrc @the-vaan-group/devops
.devcontainer/ @the-vaan-group/devops
.dockerignore @the-vaan-group/devops
.editorconfig @the-vaan-group/devops
.env @the-vaan-group/devops
.env.template @the-vaan-group/devops
.eslintignore @the-vaan-group/devops
.eslintrc* @the-vaan-group/devops
.gitignore @the-vaan-group/devops
.npmrc @the-vaan-group/devops
.pnpmfile.cjs @the-vaan-group/devops
.prettierignore @the-vaan-group/devops
.prettierrc* @the-vaan-group/devops
.storybook/ @the-vaan-group/devops
.swcrc @the-vaan-group/devops
.vscode/ @the-vaan-group/devops
/.github/ @the-vaan-group/devops
/README.md @the-vaan-group/devops
/bin/ @the-vaan-group/devops
/devops/ @the-vaan-group/devops
/down @the-vaan-group/devops
/edit @the-vaan-group/devops
/meta-* @the-vaan-group/devops
/meta/ @the-vaan-group/devops
/package.json @the-vaan-group/devops
/web-* @the-vaan-group/devops
/web/bin/ @the-vaan-group/devops
/web/dev.Procfile @the-vaan-group/devops
/web/dev.sh @the-vaan-group/devops
/web/devops/ @the-vaan-group/devops
/web/graphql* @the-vaan-group/devops
/web/jest* @the-vaan-group/devops
/web/package.json @the-vaan-group/engineering-leads
/web/public/ @the-vaan-group/engineering
/web/sentry* @the-vaan-group/devops
/web/src/ @the-vaan-group/engineering
/web/src/core/ @the-vaan-group/engineering-leads
/web/src/pages/ @the-vaan-group/devops
/web/src/views/ @the-vaan-group/devops
/web/storybook.Procfile @the-vaan-group/devops
CODEOWNERS @the-vaan-group/devops
Dockerfile @the-vaan-group/devops
bb.edn @the-vaan-group/devops
docker-compose.yml @the-vaan-group/devops
docker-entrypoint.sh @the-vaan-group/devops
eslint-strict.config.* @the-vaan-group/devops
eslint.config.* @the-vaan-group/devops
next.config.js @the-vaan-group/devops
next.config.mjs @the-vaan-group/devops
next.redirects.mjs @the-vaan-group/engineering-leads
package-lock.json @the-vaan-group/devops
tsconfig.json @the-vaan-group/devops
webpack.config.js @the-vaan-group/devops
